.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
  // padding-bottom: $accordion-item--padding-v;
  // padding-left: $accordion-item--padding-h;
  // padding-right: $accordion-item--padding-h;
  cursor: pointer;

  // span {
  //   width: calc(100% - (#{$accordion-icon--size} * 2));
  // }
}

.split-wrap {
  margin: 0px !important;
}
