// Colors

// The color palette
$palette: (
  light: (
    1: #f9faff,
    2: #959cb1,
    3: #6a6f82,
  ),
  dark: (
    1: #16171b,
    2: #1c1d22,
    3: #292b32,
  ),
  // primary: (
  // 	1: #376DF9,
  // 	2: #6991FA,
  // 	3: #074AF6,
  // 	4: #EAF0FF
  //  ),
  primary:
    (
      1: #6163ff,
      2: #acadff,
      3: #5658dd,
      4: #e9e9ff,
    ),
  secondary: (
    1: #24e5af,
    2: #73efcc,
    3: #1cb68b,
    4: #d2f9ee,
  ),
  // third: (
  //   1: #1cb68b,
  //   2: #73efcc,
  //   3: #1cb68b,
  //   4: #d2f9ee,
  // ),
  minimal:
    (
      1: #ff5fa0,
      2: #ff92be,
      3: #ff2c82,
      4: #ffe7f1,
    ),
  tertiary: (
    1: #ffc55a,
    2: #ffd78d,
    3: #ffb327,
    4: #fff3dd,
  ),
  quaternary: (
    1: #ff8d74,
    2: #ffb7a7,
    3: #ff6341,
    4: #ffe8e3,
  ),
  alert: (
    error: #ff5fa0,
    warning: #ffc55a,
    success: #1ec198,
  ),
);

// Base typography: color
$color: (
  heading: get-color(light, 1),
  base: get-color(light, 2),
  high-contrast: get-color(light, 1),
  mid-contrast: get-color(light, 2),
  low-contrast: get-color(light, 3),
  primary: get-color(primary, 1),
  secondary: get-color(secondary, 1),
  error: get-color(alert, error),
  warning: get-color(alert, warning),
  success: get-color(alert, success),
  // ↓ Inverted colors
  heading-inverse: get-color(dark, 1),
  base-inverse: get-color(light, 3),
  high-contrast-inverse: get-color(dark, 1),
  mid-contrast-inverse: get-color(dark, 2),
  low-contrast-inverse: get-color(light, 3),
);

// Borders and dividers: color
$border--color: (
  divider: get-color(dark, 3),
  divider-inverse: darken(get-color(light, 1), 4%),
);

// Icons: fill color
$icon--color: (
  hamburger: get-color(light, 2),
  // hamburger icon
  accordion: get-color(primary, 1),
  // accordion icon
  social: get-color(primary, 1),
  // social icons
  social-hover: get-color(primary, 2),
  // social icons (:hover)
  modal: get-color(light, 3),
  // modal icon
  modal-hover: get-color(light, 2),
  // modal icon (:hover)
  // ↓ Inverted colors
  hamburger-inverse: get-color(dark, 2),
  // hamburger icon
  accordion-inverse: null,
  // accordion icon
  social-inverse: null,
  // social icons
  social-hover-inverse: null // social icons (:hover),,,,,
);

// Misc elements: background color
$bg--color: (
  body: get-color(dark, 1),
  body-shadow: 0 20px 48px rgba(get-color(dark, 1), 0.8),
  // body shadow when a boxed layout is used (set to null if don't want a shadow)
  body-outer: lighten(get-color(dark, 1), 2%),
  // outer bg color when a boxed layout is used
  bg-color: lighten(get-color(light, 1), 9%),
  // .has-bg-color helper class
  shadow: 0 24px 64px rgba(get-color(dark, 1), 0.64),
  // .has-shadow helper class
  code: darken(get-color(dark, 1), 4%),
  code-inverse: darken(get-color(dark, 1), 4%),
);
